#first-paragraph {
  font-family: Geneva, Verdana, sans-serif;
  color: blueviolet;
}

.second-paragraph {
  font-family: sans-serif;
  color: palevioletred;
}

.table {
  font-family: Calibri, sans-serif;
  width: 100%;
  text-align: left;
  color: blue;
}
